*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    min-width: 20%;
    min-height: 40px;
}
#current-question{
    font-size: 40px;
    font-weight: bold;
}
.hidden{
    display: none;
}

a{
    color: white;
}
#current-question{
    font-size: 40px;
}
.btn{
    min-width: 15%;
    min-height: 30px;
}